---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog" description="Ruben Arakelyan’s blog">
  <section>
    <h1>Blog posts</h1>
    {
      posts.map(post => (
        <BlogPostPreview
          homepage={false}
          url={"/blog/" + post.id + "/"}
          title={post.data.title}
          excerpt={post.data.excerpt}
          date={post.data.date}
        />
      ))
    }
  </section>
</Layout>
