@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-pink-air: #ffefef;
  --color-viva-magenta: #cf0146;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-slate-900 text-balance;
  font-family: var(--font-ibm-plex-serif);
}

code, kbd, samp, pre {
  font-family: var(--font-ibm-plex-mono);
}

a {
  @apply underline;
}

img {
  max-width: 100%;
}

.drop-cap > p:first-of-type {
  @apply first-letter:float-left first-letter:text-7xl first-letter:pr-4;
}

.footnotes {
  @apply border-t border-slate-300;
}

@media (prefers-reduced-motion) {
  *, *::before, *::after {
    scroll-behavior: auto !important;
  }
}
