---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found" description="Sorry, the page you’re looking for doesn’t exist">
  <h1>Sorry, the page you’re looking for doesn’t exist</h1>
  <p>Oops! It may have been moved, deleted, or never existed. Please check the address or <a href="/">go back to the home page</a>.</p>
</Layout>
