---
import { getCollection, render } from "astro:content";

import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { slug } = Astro.params;
const pages = await getCollection("info");
const page = pages.find((page) => page.id === slug);
if (!page) return Astro.redirect("/404");
const { Content } = await render(page);
---

<Layout title={page.data.title} description={page.data.description}>
  <article>
    <h1>{page.data.title}</h1>
    <div>
      <Content />
    </div>
    <p class="metadata">Last updated: <FormattedDate date={page.data.date} /></p>
  </article>
</Layout>
