---
import { getCollection, render } from "astro:content";

import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { slug } = Astro.params;
const pages = await getCollection("info");
const page = pages.find((page) => page.id === slug);
if (!page) return Astro.redirect("/404");
const { Content } = await render(page);
---

<Layout title={page.data.title} description={page.data.description}>
  <article class="max-w-[80vw] lg:max-w-[70vw] xl:max-w-[60vw] mx-auto">
    <header class="m-8">
      <h1 class="mb-6 text-6xl font-bold">{page.data.title}</h1>
    </header>
    <div class="mx-8 mb-8 prose prose-slate text-2xl">
      <Content />
    </div>
    <p class="mx-8 mb-8 text-lg">Last updated: <FormattedDate date={page.data.date} /></p>
  </article>
</Layout>
