---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Webmention test page" description="Webmention test page">
  <a href="https://www.wackomenace.co.uk/blog/28-apple-passwords-as-a-developer/">Test link</a>
</Layout>
